.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1200;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  max-width: calc(100vw - 20%);
  max-height: calc(100vh - 10%);
  /* max-width: calc(100vw - 72px);
  max-height: calc(100vh - 36px); */
}
